* {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font: inherit;
    box-sizing: border-box;
}

main {
    margin-inline: auto;
    margin-block-start: 10rem;
    max-width: min(100%, 24rem);

    display: flex;
    justify-content: center;
    align-items: center;
}   

.station {
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
}

.station span {
    font-size: 1.2rem;
    color: white;
    background-color: rebeccapurple;
    padding: .8rem;
    border-radius: 50%;
}

.station .first-station {
    background-color: red;
}

.station div {
    width: 10vw;
    height: 1rem;
    background-color: gray;;
}

.stayed-station span {
    background-color: red;
}

.button-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 13rem;
    margin: 13rem 24rem 0rem;
}

.button-wrapper button {
    background-color: sandybrown    ;
    color: white;
    padding: .7rem;
    cursor: pointer;
}